WEBHOOK_URL=https://chat.googleapis.com/v1/spaces/SUBSTITUA_SPACE/messages?key=SUBSTITUA_KEY&token=SUBSTITUA_TOKEN
HTTP_TIMEOUT_SECONDS=10

LOG_LEVEL=INFO
LOG_FORMAT=text
LOG_FILE=

OTRS_BASE_URL=https://portal.ilegra.com/otrs/index.pl

DEDUP_ENABLED=false
DEDUP_WINDOW_MINUTES=30
OTRS_DB_HOST=127.0.0.1
OTRS_DB_PORT=3306
OTRS_DB_NAME=otrs
OTRS_DB_USER=otrs
OTRS_DB_PASSWORD=otrssecret
